.inf-container{
    padding-bottom: 0.1%;
    height: 90%;
    text-align: justify;
}

.inf-container > p{
    line-height: inherit;
    width: fit-content;
    margin: auto;
    font-weight: bold;
}

.info{
    padding-top: 3%;
    text-align: center;
}

.adres{
    padding-top: 3%;
    text-align: left;
}
.map{
    width: fit-content;
    padding-top: 3%;
    padding-bottom: 3%;
    margin: auto;
}