.card-container{
    padding-bottom: 0.1%;
    height: 90%;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 3%;
    grid-row-gap: 9%;
    padding-top: 5%;
    margin: auto;
    width: fit-content;
}

.card{
    width: 35vw;
    height: 30vh;
    border: 10px solid #060AB3;
    border-radius: 3vh;
}

.card > p {
    color: #060AB3;
    font-size: 2.2rem;
    font-weight: bold;
    width: fit-content;
    margin: 18% auto;
}

.card:hover{
    cursor: pointer;
}