html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;

}
header {
    background-color: white;
    width: 100%;
    height: 10%;
    margin-bottom: 5px;
}

body{
    background-color: #060AB3;
    font-family: "Roboto Light", sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
}

.main{
    background-color: white;
    border-radius: 0 0 1vw 1vw;
    margin-left: 5%;
    margin-right: 5%;
    min-height: 89%;
}


button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.navbar{
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-content: center;
    flex-wrap: wrap;
    align-items: center; 
}

.logo{
    display: inline-flex;
    float: left;
}

.logo > a > img {
    width: 5vw;
}

.links{
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: space-between;
}

.links > a {
    display: block;
    color: #060AB3;
    text-decoration: none;
    font-weight: bold;
    font-size: xx-large;
    width: fit-content;

}

.user-profile{
    display: inline-flex;
    float: right;
}

.user-profile > a > img {
    width: 4vw;
}


h1{
    padding: 0;
    margin: 0;
}

footer {
    background-color: #060AB3;
    padding: 1rem;
    text-align: center;
    color: white;
    font-weight: bold;
}
